.advantages {
  padding-top: 27px;
  padding-bottom: 55px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 3px;
  margin-left: $mr-2;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.advantages__list {
  @include list();

  display: flex;
  flex-direction: column;
}

.advantages__item {
  position: relative;

  padding-top: 83px;
  padding-right: 10px;
  box-sizing: border-box;

  line-height: 20px;
  font-weight: 700;

  svg {
    position: absolute;

    fill: $green-light;
  }

  &--flower {
    svg {
      top: 29px;
      left: 8px;
    }
  }

  &--money {
    svg {
      top: 30px;
      left: 0;
    }
  }

  &--heart {
    svg {
      top: 35px;
      left: 7px;
    }
  }

  &--ball {
    svg {
      top: 32px;
      left: 3px;
    }
  }

  &--rocket {
    svg {
      top: 33px;
      left: -5px;
    }
  }

  &--gift {
    svg {
      top: 31px;
      left: 3px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 83px;
  }

  .advantages__title {
    margin: 0 0 19px $mr-4;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    padding-top: 83px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(1) {
      order: 1;
      margin-bottom: 28px;
    }

    &:nth-child(2) {
      order: 3;
      margin-bottom: 28px;
    }

    &:nth-child(3) {
      order: 5;
      margin-bottom: 0;
    }

    &:nth-child(4) {
      order: 2;
      margin-bottom: 28px;
    }

    &:nth-child(5) {
      order: 4;
      margin-bottom: 28px;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .advantages__title {
    margin-left: 171px;

    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    padding-left: 175px;
  }

  .advantages__item {
    width: 350px;
  }
}
