.contacts {
  padding-top: 35px;
  padding-bottom: 39px;

  .container {
    &:first-child {
      margin-bottom: 37px;
    }
  }
}

.contacts__title {
  margin: 0 0 26px $mr-2;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__table {
  width: 100%;

  font-size: 15px;
  line-height: 30px;
  color: $grey-dark;

  border-collapse: collapse;

  tr {
    display: flex;
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  td {
    padding: 0;

    &:nth-child(1) {
      width: 29.6154%; // 77px
    }

    &:nth-child(2) {
      width: 70.3846%; // 183px
    }
  }
}

.contacts__email {
  a {
    position: relative;

    color: $grey-dark;
    text-decoration: none;

    transition-duration: 150ms;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $green-light-1;
    }

    &:focus,
    &:hover {
      color: $green-light-2;

      &::after {
        background-color: $green-light-2;
      }
    }

    &:active {
      color: transparentize($green-light-2, 0.7);

      &::after {
        width: 88.5%;

        background-color: transparentize($green-light-2, 0.9);
      }
    }
  }
}

// Перенос текста на мобильном при ширине больше 320px
.contacts__address {
  @media (min-width: $mobile-width + 1) {
    br {
      display: none;
    }
  }
}

.contacts__map {
  height: 457px;
  margin-bottom: 39px;

  background-image: url("../img/decorative/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/decorative/map-mobile@2x.jpg");
  }

  iframe {
    width: 100%;
    height: 100%;

    border: none;
  }
}

.contacts__button {
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 62px;
    padding-bottom: 57px;

    .container {
      &:first-child {
        margin-bottom: 56px;
      }
    }
  }

  .contacts__title {
    position: relative;

    margin-left: $mr-4;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -15px;
      right: 3px;

      width: 47px;
      height: 81px;

      background: url("../img/icon/icon-flag.svg") no-repeat;
    }
  }

  .contacts__table {
    font-size: 17px;

    tbody {
      display: flex;
    }

    tr {
      width: 50%;
    }

    td {
      &:nth-child(1) {
        width: 23.0539%;
      }

      &:nth-child(2) {
        width: 76.9461%;
      }
    }
  }

  .contacts__address {
    br {
      display: block;
    }
  }

  .contacts__map {
    margin-bottom: 55px;

    background-image: url("../img/decorative/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/decorative/map-tablet@2x.jpg");
    }
  }

  .contacts__button {
    width: 230px;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    padding-top: 71px;
    padding-bottom: 105px;

    .container {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }

  .contacts-wrapper {
    width: 33.3333%;
    margin-bottom: 0;
    padding-left: 16.6666%;
    padding-right: 50%;
    padding-bottom: 78px;
    padding-top: 70px;
  }

  .contacts__title {
    margin-bottom: 50px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -8px;
      left: -108px;
    }
  }

  .contacts__table {
    tbody {
      flex-direction: column;
    }

    tr {
      width: 100%;

      margin-bottom: 30px;
    }

    td {
      &:nth-child(1) {
        width: 22%;
      }

      &:nth-child(2) {
        width: 78%;
      }
    }
  }

  .contacts__button {
    margin-left: 16.6666%;
  }

  .contacts__map {
    position: absolute;
    top: 71px;
    right: 50%;

    width: 525px;
    margin-right: -525px;
    margin-bottom: 0;

    background-image: url("../img/decorative/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/decorative/map-desktop@2x.jpg");
    }
  }
}
