.control__label {
  position: relative;

  line-height: 18px;
  font-weight: 700;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;

    box-sizing: border-box;
  }

  &::before {
    left: -62px;

    border: 2px solid $grey-dark;

    transition-duration: 150ms;
  }

  &--radio::before {
    top: -6px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
  }

  &--checkbox::before {
    top: -8px;

    width: 40px;
    height: 39px;
  }
}

.control__input {
  &--radio:checked + .control__label::after {
    top: 6px;
    left: -50px;

    width: 16px;
    height: 16px;

    background-color: $green-light-1;
    border-radius: 50%;
  }

  &--checkbox:checked + .control__label::after {
    top: 4px;
    left: -54px;

    width: 22px;
    height: 16px;

    background: url("../img/icon/icon-tick.svg") no-repeat;
    background-size: cover;
  }

  &:focus + .control__label::before,
  &:hover + .control__label::before {
    border-color: $green-light-1;
  }

  &:disabled + .control__label {
    color: #c7c7c7;

    &::before {
      border-color: #c7c7c7;
    }
  }
}

@media (min-width: $tablet-width) {
  .control__label {
    font-size: 19px;
    line-height: 19px;

    &::before {
      top: -11px;
      left: -80px;
    }

    &--radio::before {
      width: 52px;
      height: 52px;
    }

    &--checkbox::before {
      width: 54px;
      height: 52px;
    }
  }

  .control__input {
    &--radio:checked + .control__label::after {
      top: 4px;
      left: -65px;

      width: 22px;
      height: 22px;
    }

    &--checkbox:checked + .control__label::after {
      top: 5px;
      left: -69px;

      width: 33px;
      height: 22px;
    }
  }
}
