.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
}

.copyright__link {
  position: relative;

  display: block;
  width: 182px;

  text-decoration: none;
  color: #000000;

  transition-duration: 150ms;

  svg {
    position: absolute;
    top: -3px;
    right: 0;

    fill: $green-light;

    transition-duration: 150ms;
  }

  &:focus,
  &:hover {
    svg {
      fill: $green-light-2;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    svg {
      fill-opacity: 0.3;
    }
  }
}

.copyright__text {
  margin-left: -2px;

  font-size: 19px;
  line-height: 19px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 33.3333%;
    justify-content: flex-end;
  }
}
