.main-product {
  position: relative;

  padding-top: 27px;
  padding-bottom: 42px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 6px;

    background: url("../img/icon/bg-zigzag-line.svg");
    background-size: auto 107%;
    background-repeat: repeat-x;
    background-position: top center;

    transform: rotate(180deg);
  }
}

.main-product__header {
  margin-bottom: 22px;
}

.main-product__title {
  margin: 0 0 6px $mr-2;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.main-product__offer {
  margin: 0;
  padding: 0;

  line-height: 20px;
  font-weight: 700;
  color: $green-light;
  text-transform: uppercase;

  br {
    display: none;
  }
}

.main-product__wrapper {
  margin-bottom: 24px;
}

.main-product__top {
  margin-bottom: 28px;
}

.main-product__description {
  margin: 0 0 27px;
  padding: 0;

  font-size: 15px;
  color: $grey-dark;
}

.main-product__feature {
  width: 100%;

  font-size: 15px;
  line-height: 20px;
  color: $grey-dark;

  border-collapse: collapse;

  tr {
    display: flex;
    margin-bottom: 9px;
    padding: 0 0 10px;

    border-bottom: 1px solid $grey-extra-light-2;
  }

  tr:last-child {
    margin-bottom: 0;
  }

  td {
    padding: 0;

    &:nth-child(1) {
      width: 37.6923%; // 98px;
    }

    &:nth-child(2) {
      width: 62.3077%; // 162px
    }
  }
}

.main-product__image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 315px;

  background-color: $grey-extra-light-1;
}

.main-product__price {
  margin: 0 0 26px;
  padding: 0;

  font-weight: 700;
  color: $grey-dark;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-product {
    padding-top: 34px;
    padding-bottom: 69px;

    &::after {
      height: 17px;

      background-size: auto 91%;
      background-position: top center;
    }
  }

  .main-product .container {
    position: relative;
  }

  .main-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .main-product__title {
    width: 540px;
    margin-bottom: 0;
    margin-left: $mr-4;

    font-size: 43px;
    line-height: 50px;
  }

  .main-product__offer {
    width: 120px;
    margin-right: 3px;
    margin-top: 6px;

    line-height: 17px;
    text-align: center;

    br {
      display: block;
    }
  }

  .main-product__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .main-product__top {
    width: 43.71257485%;
    margin-bottom: 0;
    padding-bottom: 150px;
  }

  .main-product__description {
    margin-bottom: 44px;

    font-size: 17px;
    line-height: 30px;
  }

  .main-product__feature {
    td {
      &:nth-child(1) {
        width: 33.3333%; // 97px;
      }

      &:nth-child(2) {
        width: 66.6666%; // 194px
      }
    }
  }

  .main-product__image-wrapper {
    flex-shrink: 0;
    width: 49.8503%;
    margin-top: 7px;
    margin-right: 1px;
  }

  .main-product__image {
    width: 100%;
    min-height: 404px;
    margin: 0;
  }

  .main-product__bottom {
    position: absolute;
    left: 50px;
    bottom: 0;

    width: calc(100% - 100px);
  }

  .main-product__price {
    width: 43.71257485%;
    margin-bottom: 34px;

    font-size: 20px;
  }

  .main-product__button {
    width: 43.71257485%;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-product {
    padding-top: 67px;
    padding-bottom: 96px;

    &::after {
      display: none;
    }

    .container {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        bottom: -96px;

        width: 1050px;
        height: 23px;

        background: url("../img/icon/bg-zigzag-line.svg");
        background-size: auto 91%;
        background-repeat: repeat-x;
        background-position: center top;

        transform: rotate(180deg);
      }
    }
  }

  .main-product__header {
    position: absolute;
    left: 72px;
    top: 52px;

    flex-direction: row-reverse;
    margin-bottom: 0;
  }

  .main-product__title {
    font-size: 53px;
    line-height: 57px;
  }

  .main-product__offer {
    margin-right: 33px;
  }

  .main-product__wrapper {
    padding-left: 175px;
  }

  .main-product__top {
    width: 292px;
    padding-top: 159px;
  }

  .main-product__image-wrapper {
    width: 525px;
    margin: 0;
  }

  .main-product__image {
    min-height: 636px;
  }

  .main-product__description {
    margin-bottom: 56px;
  }

  .main-product__feature {
    tr {
      margin-bottom: 7px;
      padding-bottom: 12px;
    }
  }

  .main-product__bottom {
    left: 225px;
    width: 292px;
  }

  .main-product__price {
    width: 100%;
    margin-bottom: 34px;
  }

  .main-product__button {
    width: 100%;
  }
}
