.message {
  display: flex;
  flex-direction: column;
}

.message__label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $green-light;

  &::after {
    content: "";

    flex-grow: 1;
    margin-left: 20px;
    height: 1px;

    background-color: #62d1ba;
  }
}

.message__input {
  min-height: 142px;
  padding: 13px 15px;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  font-family: $main-font;

  border: 2px solid $grey-dark;

  resize: none;
  transition-duration: 150ms;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus,
  &:hover {
    border-color: $green-light-1;
    color: $grey-dark;
  }
}

@media (min-width: $tablet-width) {
  .message {
    flex-direction: row;
    align-items: baseline;
    width: 100%;
  }

  .message__label {
    width: 25%; // 167px
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .message__input {
    width: 75%; // 501px

    font-size: 19px;
    line-height: 19px;

    &::placeholder {
      font-size: 19px;
      line-height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .message {
    width: 83.3333%; // 875px
  }

  .message__label {
    width: 20%; // 175px
    padding-left: 60px;
    box-sizing: border-box;
  }

  .message__input {
    width: 80%; // 700px
  }
}
