.page-header .container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.page-header__logo {
  position: relative;

  display: flex;
  justify-content: center;

  border-top: 1px solid $grey-extra-light-2;
  border-bottom: 1px solid $grey-extra-light-2;
}

.page-header__logo-link {
  padding-top: 21px;
  padding-bottom: 22px;

  transition-duration: 150ms;

  &[href]:focus,
  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  display: block;
  width: 86px;
  height: 35px;
}

.page-header__toggle {
  position: absolute;
  top: 27px;
  right: 30px;
}

// Раскрывающееся меню -- начало

@media (max-width: $mobile-width-only) {
  .page-header__nav--closed .site-list {
    display: none;
  }

  .page-header__nav--closed .user-list {
    display: none;
  }
}

.page-header__nav--nojs .toggle {
  display: none;
}

// Раскрывающееся меню -- конец

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: 1px solid $grey-extra-light-2;
  }

  .page-header__nav {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    &::after {
      content: "Бесплатная доставка по России";

      position: absolute;
      right: 0;
      bottom: $-bottom;
      z-index: 10;

      font-size: 15px;
      color: $grey-dark;
    }
  }

  .page-header__logo {
    margin-right: auto;

    border: none;
  }

  .page-header__logo-link {
    padding: 22px 0 20px;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__site-list {
    position: absolute;
    left: 0;
    bottom: $-bottom - 15; // Минус паддинги ссылок
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin: 0 auto 0 65px;
    border: none;
  }

  .page-header__logo-link {
    padding: 9px 0 7px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .page-header__site-list {
    position: relative;
    bottom: 0;
    z-index: 10;

    order: -1;
  }
}
