.reviews {
  position: relative;

  padding-bottom: 51px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 6px;

    background: url("../img/icon/bg-zigzag-line.svg");
    background-size: auto 107%;
    background-repeat: repeat-x;
    background-position: center top;

    transform: rotate(180deg);
  }
}

.reviews__title {
  margin: 0 0 24px $mr-2;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  margin-bottom: 32px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0 0 27px 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  color: $grey-dark;

  br {
    display: none;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
}

.reviews__author-link {
  display: block;
  margin-top: 6px;

  font-weight: 400;
  color: $grey-dark;
}

.reviews__toggles {
  display: flex;
  margin: 0 0 38px 0;
  padding: 0;
}

.reviews__toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 52px;
  padding: 0;

  background-color: transparent;
  border: 1px solid $grey-extra-light-2;

  cursor: pointer;

  &--prev {
    border-right: none;
  }

  svg {
    transition-duration: 150ms;
  }

  &:focus,
  &:hover {
    svg {
      opacity: 0.6;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.reviews__button {
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 84px;

    &::after {
      height: 17px;

      background-size: auto 91%;
    }
  }

  .reviews-wrapper {
    padding: 77px 0 49px;

    background-image: url("../img/decorative/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/decorative/review@2x.jpg");
    }

    .container {
      position: relative;
    }
  }

  .reviews__title {
    width: 60%;
    margin-left: $mr-4;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    margin-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 58px;

    font-size: 17px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__author-link {
    margin-top: 5px;

    font-size: 17px;
  }

  .reviews__toggles {
    position: absolute;
    bottom: 0;
    right: 69px;

    justify-content: space-between;
    width: 137px;
    margin-bottom: 0;
  }

  .reviews__toggle {
    width: auto;

    border: none;
  }

  .reviews__button {
    position: absolute;
    top: 2px;
    right: 50px;

    width: 175px;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 90px;

    &::after {
      display: none;
    }

    .container {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        bottom: -187px;

        width: 1050px;
        height: 23px;

        background: url("../img/icon/bg-zigzag-line.svg");
        background-size: auto 92%;
        background-repeat: repeat-x;
        background-position: center top;

        transform: rotate(180deg);
      }
    }
  }

  .reviews-wrapper {
    padding: 70px 0 97px;

    background-position: calc(50vw - 525px);
  }

  .reviews__title {
    margin-left: 16.3%;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__list {
    padding-left: 16.6666%;
    padding-right: 20px;
  }

  .reviews__text {
    margin-bottom: 40px;

    br {
      display: block;
    }
  }

  .reviews__author-name {
    font-size: 17px;
  }

  .reviews__author-link {
    margin-top: 6px;
  }

  .reviews__button {
    top: 9px;
  }
}
