.sections .container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.sections__list {
  @include list();
}

.sections__item {
  display: flex;
}

.sections__link {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 100px 30px 30px;

  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  .sections__icon {
    position: absolute;
    fill: #149080;
    fill-opacity: 0.5;
  }

  &:focus,
  &:hover {
    .sections__icon {
      fill-opacity: 0.7;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .sections__icon {
      fill-opacity: 0.3;
    }
  }

  &--interior {
    background-color: $green-light;

    &:focus,
    &:hover {
      background-color: #59d5bc;
    }

    .sections__icon {
      top: 23px;
      right: 36px;
    }
  }

  &--toys {
    background-color: $green-dark;

    &:focus,
    &:hover {
      background-color: #46c1ae;
    }

    .sections__icon {
      top: 21px;
      right: 27px;
    }
  }
}

@media (min-width: $tablet-width) {
  .sections {
    position: relative;

    background-color: #f9f9f9;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px; // Прячет появляющуюся линию под картинкой на планшете
      width: 100%;
      height: 24px;
      background-image: url("../img/icon/bg-zigzag-fill.svg");
      background-size: auto 95%;
      background-position: center top;
    }
  }

  .sections__list {
    display: flex;
  }

  .sections__item {
    width: 50%;
  }

  .sections__link {
    padding: 28px 100px 42px 36px;

    font-size: 20px;
    line-height: 30px;

    transition-duration: 150ms;

    &:focus,
    &:hover {
      transform: translateY(-5px);
    }

    &--interior {
      .sections__icon {
        top: 30px;
        right: 36px;

        transition-duration: 150ms;
      }
    }

    &--toys {
      .sections__icon {
        top: 31px;
        right: 33px;

        transition-duration: 150ms;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .sections {
    &::after {
      background-repeat: repeat-x;
      background-size: auto 154%;
      background-position: center top;
    }
  }

  .sections__link {
    padding-bottom: 35px;

    &--toys {
      .sections__icon {
        right: 35px;
      }
    }
  }
}
