.site-list__bottom,
.site-list__top {
  @include list;
}

.site-list__item {
  border-bottom: 1px solid $grey-extra-light-2;
}

.site-list__link {
  @include padding-mobile;

  display: block;

  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;

  transition-duration: 150ms;

  &[href]:focus,
  &[href]:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__bottom {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list__top {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    width: 167px;

    border-bottom: none;
  }

  .site-list__link {
    padding: 15px 0;

    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    position: relative;
  }

  .site-list__top,
  .site-list__bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__bottom {
    position: absolute;
    left: 0;
    bottom: $-bottom - 15; // Минус верхний паддинг
  }

  .site-list__item {
    box-sizing: border-box;

    &:first-child {
      width: 185px;
      padding-right: 10px;
    }

    &:last-child {
      width: 200px;
      padding-left: 35px;
    }

    &--top {
      &:first-child {
        border-right: 1px solid $grey-extra-light-2;
      }
    }
  }

  .site-list__link {
    &--top {
      padding-top: 31px;
      padding-bottom: 33px;
      font-size: 17px;
    }
  }
}
