.social__list {
  @include list();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin-left: 20px;
  margin-right: 20px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  line-height: 0;

  svg {
    transition-duration: 150ms;
  }

  &:focus,
  &:hover {
    svg {
      fill: $green-light-2;
    }
  }

  &:active {
    svg {
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-left: -4px;
  }
}
