.user-list {
  @include list;
}

.user-list__item {
  border-bottom: 1px solid $grey-extra-light-2;
}

.user-list__form {
  @include padding-mobile;

  position: relative;
}

.user-list__search {
  width: 100%;

  font-weight: 700;

  border: none;
  outline: none;

  appearance: none; // Для Safari

  &::placeholder {
    font-weight: 700;
    color: #000000;

    opacity: 1; // Для Firefox
  }

  &:focus,
  &:hover {
    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &:active {
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.user-list__button {
  position: absolute;
  top: 31px;
  left: 32px;

  padding: 0;

  background: transparent;
  border: none;

  cursor: pointer;
}

.user-list__link {
  @include padding-mobile;

  position: relative;

  display: block;

  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;

  transition-duration: 150ms;

  &:focus,
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .user-list__icon {
    position: absolute;
    top: 30px;
    left: 30px;

    display: block;
  }
}

.user-list__button,
.user-list__link {
  .user-list__icon {
    fill-opacity: 0.2;

    transition-duration: 150ms;
  }

  &:focus,
  &:hover {
    .user-list__icon {
      fill: $green-light;
      fill-opacity: 1;
    }
  }

  &:active {
    .user-list__icon {
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
  }

  .user-list__item {
    border: none;

    &:last-child {
      width: 264px;
      box-sizing: border-box;
    }
  }

  .user-list__form {
    width: 82px;
    height: 100%;
    padding: 0;

    border-left: 1px solid $grey-extra-light-2;
    border-right: 1px solid $grey-extra-light-2;
  }

  .user-list__search {
    display: none;
  }

  .user-list__button {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    .user-list__icon {
      margin-bottom: -3px;
      margin-right: -1px;
    }
  }

  .user-list__link {
    padding: 31px 0 33px 82px;

    .user-list__icon {
      top: 35px;
      left: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list__item {
    &:last-child {
      width: 266px;
    }
  }
}
